$main-color: rgba(5, 81, 266, 1)
.btn
  cursor: pointer
  background-color: transparent
  font-size: .8em
  padding: 1.25em 2.5em
  font-weight: 700
  letter-spacing: 1.1px
  &.btn__blue
    color: #fff
    background-color: $main-color
    &:hover
      background-color: darken($main-color, 5%)
    &:active
      background-color: darken($main-color, 10%)
article
  &.stats
    .single_stat
      padding: 4em
      span
        color: $icasting-red
        font-weight: 700
        font-size: 4rem
      h3
        font-weight: 700
      p
        color: #8d9197
  &.launch
    background-color: $brand-dark
    background-image: url(../assets/images/World.png)
    background-position: center
    background-repeat: no-repeat
    color: #fff
    height: 65vh
    display: flex
    align-items: center
    .container-fluid
    img
      width: 12.5%
      color: #fff
    h1
      margin: .5rem 0px
      font-size: 4.0rem
footer
  font-family: $default-font
  .container
    .top-layer
      margin-top: 10%
      h2
        margin-bottom: 1.5em
      p
        margin: 0px
    .bottom-layer
      .footer-logo
        height: 10%
        width: auto
        margin-bottom: 2.5%
      .tlnt__copy
        opacity: .8
