$brand-blue: #0552e2
$brand-blue-light: #f4fbff
$brand-dark: #00112a
$icasting-red: #df1f36
$brand-grey: #97aacd


$brand-font: 'Ubuntu', sans-serif
$default-font: 'Open Sans', sans-serif


//General styles
h1, h2, h3, h4, h5, h6
  font-weight: 300
  font-family: $brand-font
  span
    font-weight: 700

html, body
  font-family: $default-font
  color: $brand-dark

.btn
  cursor: pointer
  border-radius: 2em
  display: inline
  font-size: .8em
  padding: 1.1em 2em
  font-weight: 400
  box-shadow: none
  background-color: $brand-blue
  color: white
  font-family: $brand-font
  font-weight: 400
  letter-spacing: .1rem

  &:hover
    box-shadow: none
  &:hover
    background-color: darken($brand-blue, 5%)
  &:active
    background-color: darken($brand-blue, 10%)
  &:focus
    outline: 0

form .form_oneline
  margin: 20px 0
  display: inline-block
  background-color: white
  border-radius: 2em
  padding: 10px
  box-shadow: 8px 0px 21px rgba(179, 195, 219, 0.55)
  width: 100%
  position: relative
  input[type="text"]
    float: left
    position: absolute
    left: 2em
    top: 50%
    transform: translateY(-50%)
    width: calc(100% - 12em)
    display: inline
    font-size: .9em
    border: none
    background-color: transparent
    font-weight: 300
    &:focus
      outline: none
  input[type="submit"]
    float: right
    z-index: 100
    &:hover
      box-shadow: none
//Mixins

@mixin aspect-ratio($width, $height)
  position: relative
  &:before
    display: block
    content: ""
    width: 100%
    padding-top: ($height / $width) * 100%
  > .content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0


//Dedicated styles
nav.navbar
  .navbar-brand
    height: 3.5em
    width: 3.5em
    &:first-of-type
      .logoWrap
        position: relative
        &::before
          content: ""
          position: absolute
          top: 50%
          left: 50%
          z-index: -1
          transform: translate(-50%, -70%)
          background-image: url('../assets/images/hexagon.svg')
          width: 40vw
          height: 40vw
          background-size: contain
          background-position: center
          background-repeat: no-repeat

    &:last-of-type
      width: 7em
      .logoWrap
        height: 100%
        position: relative
        img
          position: absolute
          top: 50%
          right: 0%
          transform: translateY(-50%)
          height: 50%
  .navbar-nav
    .nav-item
      display: inline-block
      padding: 0 1.5em
      margin: 0
      position: relative
      line-height: 1
      text-transform: uppercase
      font-family: 'Ubuntu', sans-serif
      font-weight: 300
      color: $brand-blue
      &.active
        color: $brand-blue
        font-weight: 400
      span.lowercase
        text-transform: lowercase
      &::after
        content: ""
        right: 0
        top: 0
        width: 1px
        height: 100%
        background-color: $brand-grey
        position: absolute
      &:last-of-type
        &::after
          content: ""
          width: 0
      // .nav-item
      @media (max-width: 991.98px)
        padding-top: 1em
        padding-bottom: 1em
        &::after
          content: ""
          bottom: 0
          top: auto
          width: 100%
          height: 1px
          background-color: $brand-grey
          position: absolute

header
  h1
    font-size: 3.5em
    margin-bottom: .75em
  p
    font-size: 1em
    font-family: $default-font
    &.subtitle
      font-size: 1.5em
      margin-bottom: .25em
  .form-wrap
    margin-top: 4em
    .form_oneline
      margin-top: 0
  .imageWrapper
    @include aspect-ratio(3,4)
    img
      width: 125%
      z-index: -1


article
  .content
    z-index: 0
    display: flex
    position: relative
    &::before
      content: ""
      position: absolute
      z-index: -1
      top: 0%
      left: 50%
      transform: translate(-50%, -10%)
      background-image: url('../assets/images/hexagon-top-bottom.svg')
      width: 70vw
      height: 70vw
      background-size: contain
      background-position: center
      background-repeat: no-repeat
  &.video
    margin-bottom: 15%
    .imageWrapper
      z-index: 2
      position: relative
      img.main-image
        // box-shadow: 33px 0px 57px rgba(46, 90, 130, 0.32)
        -webkit-filter: drop-shadow(0 33px 57px rgba(46, 90, 130, 0.32))
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=33, Color='#2e5a82')"
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=33, Color='#2e5a82')"
        width: 100%
        background-image: url("/images/video-grab.png")
        text-align: center
      img.play-icon
        width: 15%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

  &.pilot
    .content
      padding: 0em 4em
      h2
        margin-bottom: 1em
        span
          color: $icasting-red
      input[type="submit"]
        margin-top: 2em
    img
      width: 100%

  &.stats
    .single_stat
      span
        color: $icasting-red
        font-weight: 700
        font-size: 4rem
      h3
        font-weight: 700
      p
        color: #8d9197

      @media (max-width: 768px)
        span
          font-size: 2.5rem
        p
          padding: 0em 2em
      @media (min-width: 768px)
        padding: 1.5em 2em 2em 2em
        span
          font-size: 3rem
      @media (min-width: 992px)
        padding: 1.5em 4em 4em 4em

  &.launch
    background-color: $brand-dark
    background-image: url(../assets/images/World.png)
    background-position: center
    background-repeat: no-repeat
    color: #fff
    height: 65vh
    display: flex
    align-items: center
    .container-fluid
      img
        width: 12.5%
        color: #fff
      h1
        margin: .5rem 0px
        font-size: 4.0rem
footer
  font-family: $default-font
  .container
    .top-layer
      margin-top: 10%
      h2
        margin-bottom: 1.5em
      p
        margin: 0px
    .bottom-layer
      .footer-logo
        height: 10%
        width: auto
        margin-bottom: 2.5%
      .tlnt__copy
        opacity: .8
.modal
  .modal-content
    background-color: transparent
    border: none
    .modal-header
      border: none
      button
        margin: -1rem -1rem -1rem auto
        float: right
        line-height: 1
    .modal-body
