$brand-blue: #0552e2
$brand-blue-light: #f4fbff
$brand-dark: #00112a
$icasting-red: #df1f36
$brand-grey: #97aacd

@mixin aspect-ratio($width, $height)
  position: relative
  &:before
    display: block
    content: ""
    width: 100%
    padding-top: ($height / $width) * 100%
  > .content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

nav
  padding: 1em 0
  .mainLogo
    .logoWrap
      img
        width: 100%
  .secLogo
    .logoWrap
      height: 100%
      img
        vertical-align: middle
        height: 50%
  .navigation
    position: relative
    ul
      list-style: none
      padding: 0
      margin: 0
      position: absolute
      top: 50%
      transform: translateY(-50%)
      li
        display: inline-block
        padding: 0 1.5em
        margin: 0
        position: relative
        line-height: 1
        &::after
          content: ""
          right: 0
          width: 1px
          height: 100%
          background-color: $brand-grey
          position: absolute
        &:last-of-type
          &::after
            content: ""
            width: 0
        a
          text-transform: uppercase
          font-family: 'Ubuntu', sans-serif
          font-weight: 300
          color: $brand-blue
