language: node_js
node_js:
  - "6.10.2"
install:
  - npm install
  - npm run build
before_deploy:
  - rm -rf node_modules css assets/css assets/js .git* *.md .travis.yml *.js package*
deploy:
  - provider: s3
    skip_cleanup: true
    access_key_id: "$awskey"
    secret_access_key: "$awssecret"
    bucket: "dev.tlnt.io"
    acl: public_read
    region: eu-west-1
    on:
      branch: dev
  - provider: s3
    skip_cleanup: true
    access_key_id: "$awskey"
    secret_access_key: "$awssecret"
    bucket: "tlnt.io"
    acl: public_read
    region: eu-west-1
    on:
      tags: true
