$transition: cubic-bezier(.47, 1, .79, .98)
$shadow: 0px 8px 18px 0px rgba(20,25,50,0.17)
$shadow-blue: 0px 8px 18px 0px rgba(179,195,219,0.3)
$shadow__lg: 0px 16px 18px 0px rgba(20,25,50,0.15)

$brand-blue: #024cc7
$text-blue: #031d47
$sky-blue: #b3c3db
$brand-blue-light: #cedffd
$brand-gray-light: #f5f7fd

@mixin background-grid-gradient
  left: 0
  right: 0
  background-size: cover
  background-size: 300% 100%
  position: relative
  &.column--left
    background-position: 0%
  &.column--center
    background-position: -100%
  &.column--right
    background-position: -200%

@keyframes gradient-roll
  0%
    background-position: 0
  100%
    background-position: 200%


html, body
  margin: 0
  padding: 0
  width: 100%
  font-family: 'Maven Pro', sans-serif

nav
  z-index: 20
  padding: 4em 4em 0 4em
  position: absolute
  top: 0
  left: 0
  right: 0
  .nav-brand
    width: 25%
    display: inline-block
  .nav-navigation
    width: 75%
    display: inline-block
    vertical-align: top
    ul
      margin: 0
      padding: 0
      list-style: none
      float: right
      li
        display: inline-block
        text-transform: uppercase
        position: relative
        padding: 1em 1.5em
        &:last-of-type, &:nth-last-of-type(2)
          &::after
            content: ""
            width: 0
        &::after
          content: ""
          position: absolute
          width: 1px
          height: 2.6em
          background-color: rgba(white, .5)
          transform: translateY(-50%)
          top: 50%
          right: -1px
        a
          color: #fff
          font-size: 1em
          font-weight: 500
          text-decoration: none

        &.nav-langselect
          border: 2px solid white
          border-radius: 100%
          position: relative
          width: 2em
          height: 2em
          padding: 1em
          &::after
            content: ""
            background: url('data:image/svg+xml,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 21.5 11.9" version="1.1" viewBox="0 0 21.5 11.9" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">	.st1{fill:#FFFFFF;}</style><g class="st0">	<path class="st1" d="m12.2 11.3c-0.8 0.8-2.1 0.8-2.9 0l-8.5-8.5c-1.4-1.4-1-2.8 1.5-2.8h17c2.2 0 3 1.2 1.4 2.8l-8.5 8.5"/></g></svg>') no-repeat
            position: absolute
            left: 50%
            transform: translate(-50%, 120%)
            width: .65em
            height: .5em
            background-size: contain
            background-position: center
          span.nav-langselect__selected
            display: inline-block
            text-align: center
            width: 100%
            line-height: 2em
            color: white
          ul
            display: none


header
  height: 300px
  color: #fff

.content-block
  width: 100%
  height: 120vh
  // background-color: #eee
  // outline: 1px solid green
  margin-bottom: 0
  &.header
    padding-top: 0
    .column
      background-image: linear-gradient(to right, #019ad3, #3dfcfc)
      +background-grid-gradient
      &.column--right
        .image-bg
          background-position: 100% bottom
      .image-bg
        // outline: 1px solid red
        width: 100%
        height: 100%
        position: absolute
        bottom: 0%
        background-size: 200%
        background-repeat: no-repeat
        background-position: 0 bottom
  &.intro-block
    .column
      background-color: white
      position: relative
      overflow: hidden
      div.backdrop
        font-weight: 700
        font-size: 6em
        text-transform: uppercase
        line-height: .9
        color: rgba($brand-blue-light, .3)
        position: absolute
        left: -30px
        top: 50%
        transform: translateY(-50%)
        z-index: -1
    .column--left
      .image-bg
        width: 100%
        height: 100%
        position: absolute
        bottom: 50%
        transform: translateY(35.5%)
        background-size: 135%
        background-repeat: no-repeat
        background-position: 0 bottom
  &.presale
    .column
      background-color: $brand-gray-light
      &.column--center
        z-index: 20
      .col-content
        text-align: center
        h1
          font-size: 2.5em
          text-align: center
          color: $text-blue
        p
          font-size: 1.1em
          font-weight: 400
          margin-bottom: 80px
        .countdown
          transform: scale(1.4)
          z-index: 20
          .countdown--card
            display: inline-block
            background-color: white
            border-radius: 4px
            width: 22%
            margin: 0 1.5%
            box-shadow: $shadow-blue
            padding: 15px 0
            .digits
              font-size: 2.6em
              font-weight: 500
              color: $text-blue
              display: block
            .unit
              font-size: .7em
              font-weight: 400
              color: $sky-blue
              display: block
              text-transform: uppercase
        form .form_oneline
          margin-top: 40px
          display: inline-block
          background-color: white
          border-radius: 2em
          padding: 10px
          box-shadow: $shadow-blue
          width: 100%
          input[type="text"]
            float: left
            display: inline
            font-size: .7em
            padding: 1.25em 0 1.25em 1.25em
            border: none
            background-color: transparent
            &:focus
              outline: none
          input[type="submit"]
            float: right
            display: inline
            font-size: .7em
            padding: 1.25em 2.5em
            font-weight: 400
            box-shadow: none
            &:hover
              box-shadow: none


  &.team
    .column
      background-color: $brand-gray-light
  &.explaination
    .column
      background: url(images/world_white.svg)
      +background-grid-gradient()
  .column
    height: 80%
    width: (100%/3)
    display: inline-block
    position: relative
    &.column--left
      // outline: 1px solid violet
    &.column--center
      // outline: 1px solid red
    &.column--right
      // outline: 1px solid blue
    &.column--line-left
      &::before
        content: ""
        width: 1px
        height: 100%
        position: absolute
        left: 0
        top: 0
        bottom: 0
        background-color: #f5f7fd
    &.column--line-right
      &::after
        content: ""
        width: 1px
        height: 100%
        position: absolute
        right: 0
        top: 0
        bottom: 0
        background-color: #f5f7fd
    .col-content
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
      right: 0
      padding: 20px
      h1
        text-align: right
        color: white
        font-size: 3em
        margin: 0
        text-transform: uppercase
        font-weight: normal
        line-height: 1
        span
          font-weight: bold
        &.text--left
          text-align: left
        &.text--blue
          color: $text-blue
        &.text--medium
          font-size: 2.5em
      .btn-wrap
        &.btn-wrap__right
          float: right
      .btn
        cursor: pointer
        text-transform: uppercase
        background-color: transparent
        border: 2px solid #05a6e1
        font-size: .7em
        padding: 1.25em
        border-image: url('data:image/svg+xml,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 246 50" version="1.1" width="246" height="50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">	.st0{fill:url(#a);}	.st1{fill:url(#SVGID_2_);}</style><linearGradient id="a" x2="246" y1="-43" y2="-43" gradientTransform="matrix(1 0 0 -1 0 -18)" gradientUnits="userSpaceOnUse">	<stop stop-color="#2971E9" offset="0"/>	<stop stop-color="#024CC7" offset="1"/></linearGradient><path class="st0" d="m221 2c12.7 0 23 10.3 23 23s-10.3 23-23 23h-196c-12.7 0-23-10.3-23-23s10.3-23 23-23h196m0-2h-196c-13.8 0-25 11.2-25 25s11.2 25 25 25h196c13.8 0 25-11.2 25-25s-11.2-25-25-25z"/></svg>') 24/25px 25px/0px round stretch
        -webkit-backface-visibility: hidden
        transition: .2s $transition
        border-radius: 2em
        &.btn--outline
          transition: .2s $transition

          background: linear-gradient(90deg, rgba(41,113,233,0) 0%, rgba(41,113,233,0) 25%, rgba(41,113,233,1) 75%, rgba(2,76,199,1) 100%)
          background-size: 400% 100%
          background-position: 0
          &:hover
            transition: .5s $transition
            background-position: 99%

        &.btn--fill
          border-radius: 2em
          background: linear-gradient(90deg, rgba(41,113,233,1) 0%, rgba(2,76,199,1) 25%, rgba(2,76,199,1) 75%, rgba(41,113,233,1) 100%)
          background-size: 200% 100%
          background-position: 0
          box-shadow: $shadow
          &:hover
            animation-name: gradient-roll
            animation-duration: 1.5s
            animation-iteration-count: infinite
            animation-timing-function: linear
            box-shadow: $shadow__lg
        &.btn--white
          color: white
        &.btn--dark
          color: $text-blue
          &:hover
            color: white
      ul.ratings
        list-style: none
        margin: 0
        padding: 0
        li
          margin: 2em 0
          a
            text-decoration: none
            color: $brand-blue
          img
            display: block
          span
            display: block
            padding-top: 10px
            color: $brand-blue
            font-weight: 700
            font-size: 1em
            text-transform: uppercase

.margin-bottom
  margin-bottom: 50px!important

@import "chart"
